.hero {
  background-image: url('https://ttzhsqdoyaytittaoqqc.supabase.co/storage/v1/object/public/images/image-1.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--mantine-color-white);
}
