.link {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: 0.25s all ease;
  color: var(--mantine-color-white) !important;

  @include hover {
    color: var(--mantine-color-sec-6) !important;
  }
}
